<h1 class="page-title">Edit Project</h1><br>

{{#with project}}

  <form class="edit-profile-container" action="/projects/{{ id }}/edit" method="POST">

    <div class="form-row">
      <label for="title"><strong>Title: </strong></label>
      <input id="title" class="form-control" type="text" name="title" value="{{ title }}" >
    </div>

    <div class="form-row">
      <label for="datepicker"><strong>Deadline: </strong></label>
      <input id="deadline" class="form-control" type="date" name="datepicker" value="{{ deadline }}">
    </div>

    <div class="form-row">
        <label for="description"><strong>Description: </strong></label>
        <textarea id="description" class="form-control" type="text" name="description">{{ description }}</textarea>
    </div><br>

{{/with}}

    <div class="form-row">
      <label for="location"><strong>Location:</strong></label>
      <select name="location" id="location" class="custom-select">
        {{{ optionsLocation }}}
      </select>
    </div>

{{#with project}}

      <div class="form-row">
        <label id="status"><strong>Status:</strong></label>
        <select name="status" id="status" class="custom-select">
          <option value="active" selected>Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>

      <p><strong>Looking to collaborate with:</strong></p>
      <div class="form-row">
        <div class="form-row-collab">
          <label for="webdev">Web Developer: </label>
          <input type="number" name="webdev" id="webdev" min="0" max="4" value="{{ lookingFor.webdev }}">
        </div>
        <div class="form-row-collab">
          <label for="uxui">UX/UI Designer: </label>
          <input type="number" name="uxui" id="uxui" min="0" max="4" value="{{ lookingFor.uxui }}">
        </div>
        <div class="form-row-collab">
          <label for="data">Data Analyst: </label>
          <input type="number" name="data" id="data" min="0" max="4" value="{{ lookingFor.data }}">
        </div>
      </div>
      <br>
  
      <button class="btn btn-dark" type="submit">Save changes</button>

    </form>
{{/with}}