{{#with project }}

  <!-- TOOL BAR -->

  <div class="tool-bar">

    <a href="/projects"> <button class="btn-outline-dark">Back to All Projects</button></a>
    
    {{!-- Apply --}}
    {{#if canApply}}
      <a href="/projects/{{ id }}/apply"> <button class="btn-light">Apply</button></a>
    
    {{else}}
    
      {{!-- Withdraw Application --}}
      {{#if isApplicant}}
        <a href="/projects/{{ id }}/withdraw"> <button class="btn-light">Withdraw Application</button></a>
      {{/if}}

      {{!-- Withdraw from the Project --}}
      {{#if isMember}}
        <a href="/projects/{{ id }}/withdraw"> <button class="btn-light">Withdraw from the Project</button></a>
      {{/if}}

    {{/if}}


    {{#if isOwner}}
      {{!-- Edit --}}
      <a href="/projects/{{ id }}/edit"> <button class="btn-light">Edit Project</button></a>

      {{!-- Delete --}}
      <a href="/projects/{{ id }}/delete"> <button class="btn-light">Delete Project</button></a>
    {{/if}}

  </div>

{{!-- PROJECT DETAILS  --}}

<div class="project-details-container" title={{ id }}>

  <div class="project-details-card">
      <h1> {{ title }} </h1>
      <p><span>Description: </span> {{ description }} </p>
      <p><span>Location: </span> {{ location }} </p>
      <p><span>Looking for: </span></p>
      <ul>
        {{#if lookingFor.webdev}}
        <li>Web Developers: {{lookingFor.webdev}}</li>
        {{/if}}
        {{#if lookingFor.uxui}}
        <li>UX/UI Designers: {{lookingFor.uxui}}</li>
        {{/if}}
        {{#if lookingFor.data}}
        <li>Data Analysts: {{lookingFor.data}}</li>
        {{/if}}
      </ul>
      <p><span>Owner:</span> <a href="/profile/{{ owner.0.id }}">{{ owner.0.name }} {{ owner.0.lastName }} - {{ owner.0.course }}</a></p>
      <p id="date"><span>Deadline:</span> {{ deadline }} </p>
      <p><span>Status:</span> {{ status }} </p>
  </div>


  {{!-- MANAGING PROJECT  --}}

  {{#if isOwner}}
    <div class="project-details-card">
      <h1>Manage Project</h1><br>

      {{!-- manage team members --}}
      {{#if team}}
        <p><span>Team Members:</span></p>
        {{#each team }}
            <div class="member">
                <a href="{{ id }}">{{ name }} {{ lastName }} - {{ course }} </a>
                <button id="remove" class="btn-small-remove" value={{ id }}>Remove</button>
            </div>
        {{/each}}
      {{/if}}

      {{!-- manage applicants --}}
      {{#if applicants}}
        <p><span>Applicants:</span></p>
          {{#each applicants }}
            <div class="member">
                <a href="{{ id }}">{{ name }} {{ lastName }} - {{ course }} </a>
                <div class="applicantButtons">
                  <button id="accept" class="btn-small-accept" value={{ id }}>Accept</button>
                  <button id="reject" class="btn-small-remove" value={{ id }}>Reject</button>
                </div>
            </div>
          {{/each}}
      {{/if}}

    </div>
  {{/if}}

</div>
{{/with}}

<script src="/javascripts/projectDetails.js"></script>