{{!-- FILTER --}}

<form class="tool-bar" action="/projects" method="POST" class="m-3">
  <div class="dropdown-filter">
    <label for="searchBar" id="searchBar">Looking for: &nbsp; </label>
    <select name="searchBar" class="custom-select mb-2" id="searchBar">
      <option value="" selected>Choose...</option>
      <option value="webdev">Software Developer</option>
      <option value="uxui">UX/UI Designer</option>
      <option value="data">Data Analyst</option>
    </select>
  </div>

  <div class="dropdown-filter">
      <label for="searchLoc" id="searchLoc">Location: &nbsp; </label>
      <select name="searchLoc" class="custom-select" id="searchLoc">
        <option value="" selected>Choose...</option>
        <option value="Berlin">Berlin</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Miami">Miami</option>
      </select>
  </div>

  <button class="btn-light" type="submit">Filter</button>

  <a href="/projects"><button class="btn-outline-dark">View All Projects</button></a>
  <a href="/projects/new"><button class="btn-outline-dark">Add Project</button></a>
</form>

{{!-- PROJECTS --}}

<div class="projects-container">
  {{#each allProjects}}

    <div class="project-card">
      <h3>{{ title }}</h3>
      <hr>

      <p><span>Location: </span>{{ location }}</p>

      <span>Looking for: </span>
      <ul>
        {{#if lookingFor.webdev }}<li>Software Developer: &nbsp; {{ lookingFor.webdev }} </li>{{/if}}
        {{#if lookingFor.uxui }}<li>UX | UI Designer: &nbsp; {{ lookingFor.uxui }} </li>{{/if}}
        {{#if lookingFor.data }}<li>Data Analyst: &nbsp; {{ lookingFor.data }} </li>{{/if}}
      </ul>

      <p><span>Description: </span>{{ description }}</p>

      <p id="date"><span>Posted: </span>{{ createdAt }}</p>
      
      <a href="/projects/{{ id }}"><button class="btn-outline-light">Learn</button></a>
    </div>

  {{/each}}
</div>