<div class="container shadow-lg p-4 mt-5 mb-5 bg-white rounded">
  <h1>Project Details</h1><br>
  
  {{#with project}}
    <h5><strong>Title: </strong> {{ title }}</h5>
    <h5><strong>Description: </strong> {{ description }}</h5>
    <h5><strong>Location: </strong> {{ owner.0.location }}</h5>
    <h5><strong>Looking for: </strong></h5>
      <ul>
        {{#if lookingFor.webdev}}
        <li><h6>Web Developers: {{lookingFor.webdev}}</h6></li>
        {{/if}}
        {{#if lookingFor.uxui}}
        <li><h6>UX/UI Designers: {{lookingFor.uxui}}</h6></li>
        {{/if}}
        {{#if lookingFor.data}}
        <li><h6>Data Analysts: {{lookingFor.data}}</h6></li>
        {{/if}}
      </ul>
    <h5><strong>Owner:</strong> <a href="/profile/{{ owner.0.id }}">{{ owner.0.name }} {{ owner.0.lastName }}</a></h5>
    <h5><strong>Deadline:</strong> {{ deadline }}</h5>
    <h5><strong>Status:</strong> {{ status }}</h5>
    <h5><strong>Applicants:</strong></h5>
      <ul>
        {{#each applicants}}
        <li><a href="/profile/{{ id }}">{{ name }} {{ lastName }}</a></li>
        {{/each}}
      </ul>
  
    <a href="/projects/{{ id }}/apply"><button type="button" class="btn btn-primary">Apply</button></a>
    <a href="/projects"><button type="button" class="btn btn-primary">See all Projects</button></a>

    {{!-- {{#if owner.0.role === "admin" }} --}}
    <a href="/projects/{{ id }}/edit"><button type="button" class="btn btn-primary">Edit Project</button></a>
    <a href="/projects/{{ id }}/delete"><button type="button" class="btn btn-primary">Delete Project</button></a>
    {{!-- {{/if}} --}}

  {{/with}}
</div>
