<div class="container shadow-lg p-4 mt-5 mb-5 bg-white rounded">

<h1>Edit profile</h1><br><br>

{{#with user}}
<form action="/profile/{{ _id }}/edit" method="POST" enctype="multipart/form-data">

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="email"><strong>Email:</strong> </label>
      <input id="email" class="form-control" type="email" name="email" value={{ email }} required>
    </div>
  </div><br>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="name"><strong>Name:</strong> </label>
      <input id="name" class="form-control" type="text" name="name" value={{ name }}>
    </div>

    <div class="col-md-6 mb-3">
      <label for="lastName"><strong>Last Name:</strong> </label>
      <input id="lastName" class="form-control" type="text" name="lastName" value={{ lastName }}>
    </div>
  </div><br>

{{/with}}

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="course"><strong>Course:</strong> </label>
      <select name="course" id="course" class="custom-select">
        {{{ optionsCourse }}}
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label for="location"><strong>Location:</strong> </label>
      <select name="location" id="location" class="custom-select">
        {{{ optionsLocation }}}
      </select>
    </div>
  </div><br>

{{#with user}}

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="website"><strong>Website:</strong> </label>
      <input id="website" class="form-control" type="text" name="website" value={{ website }}>
    </div>

    <div class="col-md-6 mb-3">
      <label for="github"><strong>GitHub:</strong> </label>
      <input id="github" class="form-control" type="text" name="github" value={{ github }}>
    </div>
  </div><br>

  <p><strong>Profile picture:</strong> </p>
  <div class="custom-file mb-3">
    <input type="file" class="custom-file-input" id="profilePicture" name="photo" value="{{ profilePicture.imgPath }}" >
    <label class="custom-file-label" for="profilePicture">Choose a file...</label>
    {{!-- <div class="invalid-feedback">Example invalid custom file feedback</div> --}}
  </div><br><br>

  {{#if message}}
      <p style="color: red">{{message}}</p>
  {{/if}}

  <button class="btn btn-dark" type="submit">Save</button>

</form>

{{/with}}

</div>