<h1>Profile</h1><br><br>
{{#with user}}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ profilePicture }}" class="card-img" alt="profile picture">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-text" name="email" >Email: {{ email }}</h6>
        <h6 class="card-text" name="name" >First Name: {{ name }}</h6>
        <h6 class="card-text" name="lastName" >Last Name: {{ lastName }}</h6>
        <h6 class="card-text" name="course" >Course: {{ course }}</h6>
        <h6 class="card-text" name="location" >Location: {{ location }} </h6>
        <p class="card-text"><small class="text-muted">Last updated {{ updatedAt }}</small></p>
      </div>
    </div>
  </div>
</div>

<a href="/profile/{{ id }}/edit">Edit profile</a>

{{/with}}

<div class="d-inline-flex p-2 bd-highlight flex-column">

  {{#each userProjects}}
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    Title: {{title}} <br>
    Describtion: {{describtion}}<br>
    {{deadline}}<br>
    {{lookingFor}}<br>
    {{owner}}<br>

    <button type="button" class="btn btn-info rounded-pill">Apply</button>

  </div>
  {{/each}}
</div>