<h1>Edit profile</h1><br><br>

{{#with user}}
<form action="/profile/edit" method="POST">

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="email">Email: </label>
      <input id="email" class="form-control" type="email" name="email" value={{ email }} required>
    </div>
  </div><br>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="name">Name: </label>
      <input id="name" class="form-control" type="text" name="name" value={{ name }}>
    </div>

    <div class="col-md-6 mb-3">
      <label for="lastName">Last Name: </label>
      <input id="lastName" class="form-control" type="text" name="lastName" value={{ lastName }}>
    </div>
  </div><br>

{{/with}}

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="course">Course: </label>
      <select name="course" id="course" class="custom-select">
        {{!-- <option value="Web Development">Web Development</option>
        <option value="UX/UI Design">UX/UI Design</option>
        <option value="Data Analytics">Data Analytics</option>
        <option value="Cybersecurity">Cybersecurity</option> --}}
        {{{ optionsCourse }}}
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label for="location">Location: </label>
      <select name="location" id="location" class="custom-select">
        {{!-- <option value="Amsterdam">Amsterdam</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Berlin">Berlin</option>
        <option value="Lisbon">Lisbon</option>
        <option value="Madrid">Madrid</option>
        <option value="Mexico City">Mexico City</option>
        <option value="Miami">Miami</option>
        <option value="Paris">Paris</option>
        <option value="Sao Paulo">Sao Paulo</option>
        <option value="Remote">Remote</option> --}}
        {{{ optionsLocation }}}
      </select>
    </div>
  </div><br><br>

  <div class="custom-file mb-3">
    <label for="profilePicture">Profile picture: </label>
    <input type="file" class="custom-file-input" id="profilePicture" >
    <label class="custom-file-label" for="profilePicture">Choose file...</label>
    {{!-- <div class="invalid-feedback">Example invalid custom file feedback</div> --}}
  </div>

  {{#if message}}
      <p style="color: red">{{message}}</p>
  {{/if}}

  <button class="btn btn-primary" type="submit">Save</button>

</form>
