<div class="container shadow-lg p-4 mt-5 mb-5 bg-white rounded">

<h1>Edit profile</h1><br><br>

{{#with user}}
<form action="/profile/{{ id }}" method="POST" enctype="multipart/form-data">

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="email">Email: </label>
      <input id="email" class="form-control" type="email" name="email" value={{ email }} required>
    </div>
  </div><br>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="name">Name: </label>
      <input id="name" class="form-control" type="text" name="name" value={{ name }}>
    </div>

    <div class="col-md-6 mb-3">
      <label for="lastName">Last Name: </label>
      <input id="lastName" class="form-control" type="text" name="lastName" value={{ lastName }}>
    </div>
  </div><br>

{{/with}}

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="course">Course: </label>
      <select name="course" id="course" class="custom-select">
        {{{ optionsCourse }}}
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label for="location">Location: </label>
      <select name="location" id="location" class="custom-select">
        {{{ optionsLocation }}}
      </select>
    </div>
  </div><br>

{{#with user}}

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="website">Website: </label>
      <input id="website" class="form-control" type="text" name="website" value={{ website }}>
    </div>

    <div class="col-md-6 mb-3">
      <label for="github">GitHub: </label>
      <input id="github" class="form-control" type="text" name="github" value={{ github }}>
    </div>
  </div><br>

  <p>Profile picture: </p>
  <div class="custom-file mb-3">
    <input type="file" class="custom-file-input" id="profilePicture" name="photo" value="{{ profilePicture.imgPath }}" placeholder="Choose file...">
    <label class="custom-file-label" for="profilePicture">{{ profilePicture.imgPath }}</label>
    {{!-- <div class="invalid-feedback">Example invalid custom file feedback</div> --}}
  </div><br><br>

  {{#if message}}
      <p style="color: red">{{message}}</p>
  {{/if}}

  <button class="btn btn-primary" type="submit">Save</button>

</form>

{{/with}}

</div>