<h1 class="mt-5">Profile</h1><br>

{{#with user}}

  <img src="{{ profilePicture.imgPath }}" alt="Admin" class="rounded-circle" width="150">
  <h4>{{ name }} {{ lastName }}</h4>

{{!-- PROFILE INFO --}}

  <h6 class="mb-0">Email</h6>
  {{ email }}

  <h6 class="mb-0">Course</h6>
  {{ course }}

  <h6 class="mb-0">Location</h6>
  {{ location }}
                
{{!-- WEBSITE, GITHUB --}}

  {{#if website }}
    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
    <span class="text-secondary"><a href="{{ website }}">{{ website }}</a></span>
  {{/if}}
  {{#if github }}
    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
    <span class="text-secondary"><a href="{{ github }}">{{ github }}</a></span>
  {{/if}}

  {{#unless loggedUser}}
  <button class="btn btn-outline-dark"><a href="/profile/{{ id }}/edit">Edit profile</a></button>
  {{/unless}}
        
{{/with}}

{{!-- MY PROJECTS --}}
{{#if project}}
  <h4 style="text-align: center;">MY PROJECTS</h4>
  {{#each project}}
    <div id="accordionExample" class="accordion shadow">
      <div class="card">
          <div id="heading{{ id }}" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                  <button type="button" data-toggle="collapse" data-target="#collapse{{ id }}" aria-expanded="true" aria-controls="collapseOne" class="btn btn-link text-dark font-weight-bold collapsible-link">{{ title }}</button>
              </h2>
          </div>
          <div id="collapse{{ id }}" aria-labelledby="heading{{ id }}" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-4 height: 80px; overflow: scroll">
                  <p class="font-weight-light m-0">{{ description }}<a href="/projects/{{ id }}"> details</a></p>
              </div>
          </div>
      </div>    
    </div>
  {{/each}}
{{/if}}

{{!-- APPROVED APPLICATIONS --}}
<br>
{{#if team}}
  <h4 style="text-align: center;">COLLAB PROJECTS</h4>
  {{#each team}}
    <div id="accordionExample" class="accordion shadow">
      <div class="card">
          <div id="heading{{ id }}" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                  <button type="button" data-toggle="collapse" data-target="#collapse{{ id }}" aria-expanded="true" aria-controls="collapseOne" class="btn btn-link text-dark font-weight-bold collapsible-link">{{ title }}</button>
              </h2>
          </div>
          <div id="collapse{{ id }}" aria-labelledby="heading{{ id }}" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-4">
                  <p class="font-weight-light m-0">{{ description }}<a href="/projects/{{ id }}"> details</a></p>
              </div>
          </div>
      </div>    
    </div>  
  {{/each}}
{{/if}}

{{!-- PROJECTS I APPLIED TO --}}
{{#if loggedUser}}
<br>
{{#if applied}}
  <h4 style="text-align: center;">PENDING APPLICATIONS</h4>
  {{#each applied}}

    <div id="accordionExample" class="accordion shadow">
      <div class="card">
          <div id="heading{{ id }}" class="card-header bg-white shadow-sm border-0">
              <h2 class="mb-0">
                  <button type="button" data-toggle="collapse" data-target="#collapse{{ id }}" aria-expanded="true" aria-controls="collapseOne" class="btn btn-link text-dark font-weight-bold collapsible-link">{{ title }}</button>
              </h2>
          </div>
          <div id="collapse{{ id }}" aria-labelledby="heading{{ id }}" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-4">
                  <p class="font-weight-light m-0">{{ description }}<a href="/projects/{{ id }}"> details</a></p>
              </div>
          </div>
      </div>    
    </div>  
  {{/each}}
{{/if}}
{{/if}}
